img{
    width: 250px;
}
.right{
    float: right;
    border: 1px solid gray;
    padding: 20px;
    background-color: gainsboro;
}
.left{
    float: right;
    border: 1px solid gray;
    padding: 20px;
    background-color: gainsboro;
}
.menu{
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    background-color: gainsboro;
}
a{
    color: rgb(0, 0, 0);
}
html{
    scroll-behavior: smooth;
}