h1{
    font-family: 'Lumanosimo', cursive;
    text-align: center;
     margin-top: 70px;
    text-shadow: 2px 2px 7px greenyellow;
    background-color: rgb(193, 255, 255);
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    text-shadow: 2px 2px gold;
    background-color: rgb(252, 231, 179);
}
li{
list-style: square;
}
table{
    border-collapse: collapse;
    border: 3px solid black;
    margin: 20px 0 20px 0;
}

img{
    width: 100%;
}
.card{
    background-color: rgb(229, 221, 221);
    width: 250px;
    margin: 15px;
    padding: 15px;
}







