body {
    font-family: "Caveat", serif;;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
}

.calculator, .notepad {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calculator {
    width: 350px;
}

.notepad {
    width: 350px;
}

h1 {
    text-align: center;
}

#input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #5a5af4;
    color: white;
    cursor: pointer;
    font-family:  "Nosifer", serif;
}
button:hover {
    background-color: #4848d4;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
}